@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@media (max-width: 900px) {
  * {
    font-size: 2.5vw;
  }
}
* {
  font-family: "Exo 2", sans-serif;
}
body {
  background-color: #016d10;
}
nav {
  position: sticky;
  background-image: linear-gradient(rgb(26, 222, 0), rgb(15, 90, 6));
  display: flex;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 3px;
}
h3 i {
  margin-right: 4px;
}
nav ul {
  display: flex;
  list-style: none;
  position: absolute;
  right: 3px;
  font-weight: bold;
  font-size: large;
}
nav li {
  margin: 0 10px;
  cursor: pointer;
}
.section-slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.image-slider {
  position: relative;
  width: 1000px;
  height: 500px;
}
.slide {
  width: 100%;
  position: absolute;
  clip-path: circle(0% at 0 0);
}
.slide img {
  height: 500px;
  width: 100%;
  border-radius: 15px;
}
.slide-text {
  width: 800px;
  position: absolute;
  bottom: 20px;
  left: 30px;
  background-color: rgb(41, 174, 16);
  padding: 15px;
  border-radius: 10px;
}
.slide-text h2 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}
.slide-text p {
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.navigation {
  position: absolute;
  display: flex;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.slider-btn {
  background-color: rgb(151, 151, 151);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}
.slide.active {
  clip-path: circle(120% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}
.slider-btn.active {
  background-color: rgb(54, 54, 54);
}
.cat-title {
  background-color: rgb(13, 80, 1);
  color: white;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}
.main-content {
  width: 70%;
  background-color: transparent;
}
.container-postingan {
  width: 100%;
}
.postingan {
  background-color: white;
  display: flex;
  border: 5px solid black;
  border-radius: 20px;
  margin-bottom: 15px;
}
.art-info {
  margin-left: 20px;
}
.art-image {
  height: 150px;
  width: 400px;
  margin: 10px;
}
.art-image img {
  width: 400px;
  height: 100%;
}
footer {
  background-image: linear-gradient(rgb(15, 90, 6), rgb(26, 222, 0));
  border-radius: 10px;
}
.center-footer {
  margin: 0 20px;
}
.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.info-top {
  text-align: center;
  width: 100%;
  padding-top: 5px;
  color: rgb(224, 251, 252);
}
.info-center {
  text-align: center;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid white;
  color: rgb(224, 251, 252);
}
.social-media {
  display: flex;
  justify-content: center;
}
.fa-instagram-square,
.fa-twitter-square,
.fa-facebook-square,
.fa-envelope {
  padding: 5px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.main-artikel {
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(5, 148, 5);
  border-radius: 20px;
  border: 5px solid;
}
.main-artikel h1 {
  font-size: 38px;
}
.main-artikel h1,
h3 {
  text-align: center;
}
.main-artikel h3 {
  font-size: 25px;
}
.main-artikel p {
  font-size: 18px;
}
